# Lab 1.01 - Australian Athletes (ais)

In the Python cell below this one, paste all the imports you need for data analysis from the code examples (Numpy, Pandas, etc.).

In [3]:
# Importing the necessary packages
import numpy as np                                  # Scientific computing
import scipy.stats as stats                         # Statistical tests

import pandas as pd                                 # Data Frame
from pandas.api.types import CategoricalDtype

import matplotlib.pyplot as plt                     # Basic visualisation
from statsmodels.graphics.mosaicplot import mosaic  # Mosaic diagram
import seaborn as sns                               # Statistical visualisation

Declare a variable `ais` and use it to import the dataset from the CSV-file `ais.csv` in [the directory `data/`](https://github.com/HoGentTIN/dsai-en-labs/tree/main/data) of the [Github repository](https://github.com/HoGentTIN/dsai-en-labs/) for the lab assignments. You can import a dataset with a URL pointing to the raw contents of the CSV-file in the Github repository (see the code example!).

This dataset contains 202 observations of Australian athletes with a variety of blood values. You can find the codebook (i.e., the explanation of what each variable/column in the dataset means) in [data/ais.md](https://github.com/HoGentTIN/dsai-en-labs/blob/main/data/ais.md). Show the first few observations of this sample.

In [4]:
ais = pd.read_csv('../data/ais.csv').set_index('id')
ais.sex = ais.sex.astype('category')
ais.sport = ais.sport.astype('category')
ais.head()

,rcc,wcc,hc,hg,ferr,bmi,ssf,pcBfat,lbm,ht,wt,sex,sport
id,,,,,,,,,,,,,
1,3.96,7.5,37.5,12.3,60,20.56,109.1,19.75,63.32,195.9,78.9,f,B_Ball
2,4.41,8.3,38.2,12.7,68,20.67,102.8,21.30,58.55,189.7,74.4,f,B_Ball
3,4.14,5.0,36.4,11.6,21,21.86,104.6,19.88,55.36,177.8,69.1,f,B_Ball
4,4.11,5.3,37.3,12.6,69,21.88,126.4,23.66,57.18,185.0,74.9,f,B_Ball
5,4.45,6.8,41.5,14.0,29,18.96,80.3,17.64,53.20,184.6,64.6,f,B_Ball

In [5]:
ais.info()
ais.sport.describe()
ais.sport.unique()
ais.sport.value_counts()

<class 'pandas.core.frame.DataFrame'>
Index: 202 entries, 1 to 202
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   rcc     202 non-null    float64
 1   wcc     202 non-null    float64
 2   hc      202 non-null    float64
 3   hg      202 non-null    float64
 4   ferr    202 non-null    int64
 5   bmi     202 non-null    float64
 6   ssf     202 non-null    float64
 7   pcBfat  202 non-null    float64
 8   lbm     202 non-null    float64
 9   ht      202 non-null    float64
 10  wt      202 non-null    float64
 11  sex     202 non-null    category
 12  sport   202 non-null    category
dtypes: category(2), float64(10), int64(1)
memory usage: 19.8 KB

sport
Row        37
T_400m     29
B_Ball     25
Netball    23
Swim       22
Field      19
W_Polo     17
T_Sprnt    15
Tennis     11
Gym         4
Name: count, dtype: int64

Get general information about this dataset:

- How many rows and columns does the dataset have?
- Show general information about each variable, specifically the number of empty fields and the type of each variable (e.g., int64, float64, object)
- How many columns of each type are there?
- What is the measurement level (nominal, ordinal, interval, ratio) of each variable?

In [6]:
ais.shape
ais.info()
ais.dtypes.value_counts()

<class 'pandas.core.frame.DataFrame'>
Index: 202 entries, 1 to 202
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   rcc     202 non-null    float64
 1   wcc     202 non-null    float64
 2   hc      202 non-null    float64
 3   hg      202 non-null    float64
 4   ferr    202 non-null    int64
 5   bmi     202 non-null    float64
 6   ssf     202 non-null    float64
 7   pcBfat  202 non-null    float64
 8   lbm     202 non-null    float64
 9   ht      202 non-null    float64
 10  wt      202 non-null    float64
 11  sex     202 non-null    category
 12  sport   202 non-null    category
dtypes: category(2), float64(10), int64(1)
memory usage: 19.8 KB

float64     10
int64        1
category     1
category     1
Name: count, dtype: int64

The column "id" is not an actual variable, but an index. Mark it as such.

In [7]:
ais = pd.read_csv('../data/ais.csv').set_index('id')

The variables that are now considered "object" are qualitative variables. Change the type of each of these variables to "category". For ordinal variables, also define a type and impose an order. Verify that the conversion was successful by requesting info about the types again.

In [8]:
ais.sex = ais.sex.astype('category')
ais.sport = ais.sport.astype('category')

Describe the columns `ferr`, `bmi`, `sex` and `sport` and the unique values in each of these columns. Do you recognize the characteristics of qualitative and quantitative variables in the result?

In [9]:
ais.ferr.describe()
ais.bmi.unique()
len(ais.sex.unique())
ais.sport.unique().size
ais.sex.value_counts()
ais.sport.describe()
ais.sport.value_counts()

sport
Row        37
T_400m     29
B_Ball     25
Netball    23
Swim       22
Field      19
W_Polo     17
T_Sprnt    15
Tennis     11
Gym         4
Name: count, dtype: int64

Select following elements from the dataset:

- the second row (ids = 2)
- rows 4 to 6 (ids = 5 to 7)
- Columns 6 to 8 (`ferr`, `bmi`, `ssf`)
- the variable `pcBfat` (by name!). There are multiple ways to retrieve this!
- all observations for the sport "Netball"
- just the variable `wt` of the observations for "Netball"
- which sports are played by athletes with a BMI higher than 26? Also, provide a list of the unique values and a frequency table of how often each sport occurs.

In [11]:
ais.iloc[1]
ais.iloc[1:2]
#also add how to search on id!!!
ais.iloc[4:7]
ais.iloc[:,4:7]
ais['pcBfat'] #give more then 1 way, give them all!!!
ais[['ferr','bmi','ssf']]
ais[ais.sport == 'Netball']
ais[ais.sport == 'Netball'].wt
ais[ais.bmi > 26].sport.unique()
ais[ais.bmi > 26].sport.value_counts()
ais[(ais.bmi > 26) & (ais.sex == 'm')] #handy to know wasnt an given exerciese

,rcc,wcc,hc,hg,ferr,bmi,ssf,pcBfat,lbm,ht,wt,sex,sport
id,,,,,,,,,,,,,
110,4.87,4.8,44.9,15.4,124,26.25,65.3,11.72,81.0,187.2,92.0,m,Swim
113,4.32,4.3,41.6,14.0,177,26.73,35.2,6.46,91.0,190.4,96.9,m,Swim
122,5.40,6.8,49.5,17.3,183,26.07,44.7,8.61,82.0,185.6,89.8,m,Row
125,5.09,10.1,44.9,14.8,118,26.79,58.3,9.79,83.0,185.6,92.3,m,Row
145,5.09,8.9,46.3,15.4,44,29.97,71.1,13.97,88.0,185.1,102.7,m,Field
146,5.11,9.6,48.2,16.7,103,27.39,65.9,11.66,83.0,185.5,94.2,m,Field
160,5.48,4.6,49.4,18.0,132,32.52,55.7,8.51,102.0,185.0,111.3,m,Field
162,5.01,8.9,46.0,15.9,212,30.18,112.5,19.94,78.0,180.1,97.9,m,Field
163,5.48,6.2,48.2,16.3,94,34.42,82.7,13.91,106.0,189.2,123.2,m,Field
176,5.50,6.4,48.1,16.5,40,26.51,52.8,9.40,86.0,189.1,94.8,m,T_Sprnt
178,4.96,8.3,45.3,15.7,141,33.73,113.5,17.41,89.0,179.1,108.2,m,Field
179,5.01,8.9,46.0,15.9,212,30.18,96.9,18.08,80.0,180.1,97.9,m,Field
192,5.08,8.5,46.3,15.6,117,26.86,75.6,14.98,86.0,193.9,101.0,m,W_Polo
196,5.34,6.2,49.8,17.2,143,27.79,75.7,13.49,82.0,184.6,94.7,m,W_Polo
198,4.90,7.6,45.6,16.0,90,27.56,67.2,11.79,82.0,183.9,93.2,m,W_Polo